  body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, pink, lightblue);
    background-size: cover;
    text-align: center;
    font-weight: bold;
  }

  h1{
    color: goldenrod;
  }

  #message-el{
    font-style: italic;
    font-size: 20px;
    color: white;
  }

  button{
    display: block;
    color: #016f32;
    margin: 0 auto 10px auto;
  }